#error-instance-cards-skeleton{
    cursor: default;
    opacity: 0.75 !important;
    & > .msg-error{
        position: absolute;
        margin-top: 2.5em;
        left: 60%;
        transform: translate(-50%, -50%);
        font-size: 1.5rem;
        font-weight: 600;
        color: #9c9c9c;
    }

}